
    // TEXT //
$clr-100 : hsl(14, 88%, 65%);
$clr-200 : hsl(238, 29%, 16%);
    // BACKGROUND //
$clr-300 : hsl(273, 75%, 66%);
$clr-400 : hsl(240, 73%, 65%);
    // TEXT //
$clr-500 : hsl(237, 12%, 33%);
$clr-600 : hsl(240, 6%, 50%);
    // DIVIDERS //
$clr-700 : hsl(240, 5%, 91%);


$algn-cntr : center ; $algn-strt : start ; $algn-end : end ;

$ff-1 : 'Kumbh Sans', sans-serif;

$fs-12 : 12px ;

$fw-1 : 100; $fw-2 : 200; $fw-3 : 300; $fw-4 : 400; $fw-5 : 500; $fw-6 : 600; $fw-7 : 700; $fw-8 : 800; $fw-9 : 900;

$flx : flex;
$jstfy-cntr : center; $jstfy-strt : start; $jstfy-end : end; $jstfy-btwn : space-between; $jstfy-arnd : space-around; $jstfy-evnly : space-evenly;
$algn-cntr : center; $algn-strt : start; $algn-end : end; $algn-btwn : space-between; $algn-arnd : space-around; $algn-evnly : space-evenly;


